In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('machineLearningBasic/datasets/ChurnData.csv')

In [4]:
df.head()

,tenure,age,address,income,ed,employ,equip,callcard,wireless,longmon,...,pager,internet,callwait,confer,ebill,loglong,logtoll,lninc,custcat,churn
0,11.0,33.0,7.0,136.0,5.0,5.0,0.0,1.0,1.0,4.40,...,1.0,0.0,1.0,1.0,0.0,1.482,3.033,4.913,4.0,1.0
1,33.0,33.0,12.0,33.0,2.0,0.0,0.0,0.0,0.0,9.45,...,0.0,0.0,0.0,0.0,0.0,2.246,3.240,3.497,1.0,1.0
2,23.0,30.0,9.0,30.0,1.0,2.0,0.0,0.0,0.0,6.30,...,0.0,0.0,0.0,1.0,0.0,1.841,3.240,3.401,3.0,0.0
3,38.0,35.0,5.0,76.0,2.0,10.0,1.0,1.0,1.0,6.05,...,1.0,1.0,1.0,1.0,1.0,1.800,3.807,4.331,4.0,0.0
4,7.0,35.0,14.0,80.0,2.0,15.0,0.0,1.0,0.0,7.10,...,0.0,0.0,1.0,1.0,0.0,1.960,3.091,4.382,3.0,0.0

In [5]:
df.shape

(200, 28)

In [7]:
df.columns

Index(['tenure', 'age', 'address', 'income', 'ed', 'employ', 'equip',
       'callcard', 'wireless', 'longmon', 'tollmon', 'equipmon', 'cardmon',
       'wiremon', 'longten', 'tollten', 'cardten', 'voice', 'pager',
       'internet', 'callwait', 'confer', 'ebill', 'loglong', 'logtoll',
       'lninc', 'custcat', 'churn'],
      dtype='object')

In [12]:
# 마지막 컬럼(churn) 빼고 저장
X = df.iloc[:, :-1].values.astype('float32')

In [19]:
X

array([[11.   , 33.   ,  7.   , ...,  3.033,  4.913,  4.   ],
       [33.   , 33.   , 12.   , ...,  3.24 ,  3.497,  1.   ],
       [23.   , 30.   ,  9.   , ...,  3.24 ,  3.401,  3.   ],
       ...,
       [ 6.   , 32.   , 10.   , ...,  3.168,  3.85 ,  3.   ],
       [24.   , 30.   ,  0.   , ...,  3.866,  3.219,  4.   ],
       [61.   , 50.   , 16.   , ...,  3.24 ,  5.247,  2.   ]],
      dtype=float32)

In [14]:
# 마지막 컬럼만 저장
y = df.iloc[:, -1].values.astype('float32')

In [15]:
y.shape

(200,)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [18]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_train

array([[ 0.7054941 ,  0.6049425 ,  1.8094964 , ...,  0.01918964,
        -0.23602317, -1.3301597 ],
       [ 0.0588874 , -0.61832196, -0.7301477 , ...,  0.01918964,
        -0.35521206, -0.40079045],
       [ 1.5368458 ,  0.06976431,  1.1999818 , ...,  0.01918964,
        -1.3420459 , -1.3301597 ],
       ...,
       [-0.81865036, -1.2299542 , -0.7301477 , ...,  0.26941612,
        -0.9396228 , -1.3301597 ],
       [-0.72627795, -1.2299542 , -0.7301477 , ..., -1.5599449 ,
        -0.6333198 , -1.3301597 ],
       [-0.44916078, -0.1595978 ,  0.38729572, ..., -0.6029962 ,
         0.08822223,  0.52857876]], dtype=float32)

In [21]:
X_test = sc.transform(X_test)

In [37]:
print(X_train.shape)
print(X_test.shape)

(160, 27)
(40, 27)

In [26]:
clf = LogisticRegression(solver='lbfgs')

In [27]:
clf.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [29]:
y_pred = clf.predict(X_test)

In [30]:
accuracy_score(y_test,y_pred)

0.75

In [32]:
from sklearn.decomposition import PCA

In [34]:
pca = PCA(n_components=2) #x축과 y축

X_train_pca = pca.fit_transform(X_train)
X_test_pca = pca.transform(X_test)

In [38]:
print(X_train_pca.shape)
print(X_test_pca.shape)

(160, 2)
(40, 2)

In [36]:
X_test_pca.shape

(40, 2)